name: deploy-book

# Only run this when the master branch changes
on:
  push:
    branches:
    - master
    - main

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Python 
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt


    # Build the book
    - name: Build the book
      id: build
      run: |
        set -e  # skip if error
        jupyter-book build ./docs/
        echo "BUILD_DIR=$(realpath ./docs/_build/html)" >> $GITHUB_OUTPUT
    
    - name: Verify HTML output exists
      run: |
        if [ ! -d "${{ steps.build.outputs.BUILD_DIR }}" ]; then
           echo "ERROR: No HTML directory found at ${{ steps.build.outputs.BUILD_DIR }}"
           exit 1
        fi
    
    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ${{ steps.build.outputs.BUILD_DIR }}
